$!package("controller.$!{tablepath}")
$!save("controller/$!{tablepath}/$!{TableController}.java")


## controller
#set($TableController = "$!{TableName}Controller")


public class $!{TableController} {
  
}