$!package("dal.$!{tablepath}")
$!save("dal/$!{tablepath}/$!{TableDO}.java")

#set($tableFields = $filter($tableFields, ['id']))

$!importTypes($tableFields)

/***
 * $!{tableComment}
 */
public class $!{TableDO} {

  #foreach( $it in $tableFields )
    
    // $!{it.fieldComment}
    private ${it.type} ${it.field};

  #end

  #foreach( $it in $tableFields )
    
    // $!{it.fieldComment}
    public void ${it.setField}(${it.type} ${it.field}) {
      this.${it.field} = ${it.field};
    }

    public ${it.type} ${it.getField}(}) {
      return this.${it.field};
    }

    
  #end

}